/* Container holding the image and the text */
.nameHeader {
    position: relative;
    text-align: center;
    color: white;
  }

  /* Top left name header text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }

  .center {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  
  .headerFont {
      font-size:xx-large;
  }

.qualityAssurance {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("https://lh3.googleusercontent.com/proxy/oX0JZAJZivPiqvM30Q5hnXoBAmwOq-SqYK-ZSkv7DAakX3-YkcHa_47aSaio3HUvs9Q_9uazUiOe1MwaqJov2QbPMhEnVGvlZvNA");
    background-size: cover;
    background-position: center;
}
.subHeader {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 20px;
    flex: 0 0 300px;
    border-radius: 0%;
}