Container holding the image and the text */
.nameHeader {
  border-bottom: 10px solid black; 
  display: flex;
   flex-direction: row;  
  }

  /* Top left name header text */
.bottom-center {
  /* position: absolute;
  top: 20%;
  left: 50%; */
  font-size: 50px;
  /* transform: translate(-50%, -50%); */
  } 

  .center {
  /* position: absolute;
  top: 10%;
  left: 50%; */
  font-size: 48px;
    /* transform: translate(-50%, -50%); */
  } 

  .navFormat {
      font: rgb(250, 246, 246);
      font-size: 32px;
  }

#IntroImage {
    height: 400px;
    width: 20%;
    margin-bottom: 25px;
    /* background-image: url("./Intro_Image.jpg");
    background-size: cover;
    background-position: center; */
  }

    .subHeader {
    background: grey;
    border-width: 100px;
    padding: 30px;
    margin: 20px;
    flex: 1;
    flex-shrink: 2;
    flex-basis: 100px;
    border-radius: 25%;
    display: inline-block;
      }

/* p {
  border:  1px solid black; 
  flex: 3
  
}  */

.mainFormat {
    background-color: grey;
    font-size: 24px;
    border-radius: 0%;
}


.Left-Aside {
  margin-left: 20px;
  padding: 20px;
  clear: both;
  width: 20%;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #696c6e;
  display: inline-block;
}

.Right-Aside {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  width: 70%;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #e3e3e9;
  display: inline-block;
}
.Aside-Format {
  margin-bottom: 32px;
  color: #111010;
}

div.Aside-Format img {
  max-height: 200px;
}

.projectContainer {
  display: flex;
}

.projectCard {
  border: 1px solid black;
}


.footer {
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

.footer h3 {
  font-size: 20px;
}
@media screen and (max-width: 400px){
  .center {
    font-size: 28px;
    top: 2%;
  }
  .bottom-center {
    font-size: 28px;
    top: 4%
  }
  #IntroImage {
    width: 20%;
    height: 20%;

  }
  .subHeader {
    border-width: 50px;
  }
}